@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Добро пожаловать в наш специализированный игровой интернет-магазин SOTCOMM</h4>
            <p>ВАШ ПРОВОДНИК В ВИРТУАЛЬНЫЙ МИР</p>
        </div>
    </div>
</div>

<div id="demoCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#demoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#demoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://pic.rutubelist.ru/video/2025-10-04/d2/55/d255ac160bed0b08fbdeed8b5cd9bc05.jpg"
                 class="d-block w-100"
                 alt="Нет картинки">
        </div>
      
        <div class="carousel-item">
            <img src="https://www.sotcomm.ru/wp-content/uploads/2023/01/dualsense_white_tovar.jpg"
                 class="d-block w-100"
                 alt="Нет картинки">
        </div>
        
        <div class="carousel-item">
            <img src="https://igroray.ru/upload/iblock/64f/7yiqy375i3a6hhu0pcqzan940sruj0as/tekhnicheskaya_prezentatsiya_ps5_pro_data_vykhoda_konsoli_i_kharakteristiki_.png"
                 class="d-block w-100"
                 alt="Нет картинки">
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#demoCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#demoCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h3>Почему выбирают нас?</h3>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Более 10000 товаров</h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">
                    Быстро, качественно и с гарантией активируем Вам подписки PlayStation Plus, Xbox Game Pass, а так же добавим любые игры PS4 | PS5 | Xbox
                </h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Только у нас 100% гарантия возврата денег (если что-то пойдет не так - вернем деньги)</h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Реальная экономия - скидки до 80%</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                Специальное предложение!
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    При покупке любого товара от 500р идёт целых 3 ПОДАРКА НА ВАШ ВЫБОР,
                    один из которых наушники Monster Beats!
                </h5>
                <a href="/Home/Products" class="btn btn-primary">Перейти к покупкам</a>
            </div>
        </div>
    </div>
</div>